# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
venv311/
.env
env/
ENV/

# IDEs
.vscode/
.idea/

# mac/windows
.DS_Store
Thumbs.db

# Data
data/

# Logs
logs/
*.log

# SQLite / DB local
*.db
