# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
venv/
.env
env/
ENV/

# IDEs
.vscode/
.idea/

# mac/windows
.DS_Store
Thumbs.db

# Data (no commitear dataset)
data/

# Logs
logs/
*.log

# SQLite / DB local
*.db
